{% extends "base.html" %} {% block title %}Book{% endblock %} {% block main %}
<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Book A Table</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="{% url 'book_table' %}" method="POST">
            {% csrf_token %}
            <div>
              <input
                type="text"
                class="form-control"
                placeholder="Your Name"
                name="name"
                required
              />
            </div>
            <div>
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
                name="phone"
                required
              />
            </div>
            <div>
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
                name="email"
                required
              />
            </div>
            <div>
              <select
                class="form-control nice-select wide"
                name="no_person"
                required
              >
                <option value="" disabled selected required>
                  How many persons?
                </option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div>
              <input type="date" class="form-control" name="date" required />
            </div>
            <div class="btn_box">
              <button>Subment</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="map_container">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

{% endblock %} {% block class %}class="sub_page"{% endblock %}
